<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_categori.css') }}">
</head>
<body>
    <div class="start header">
        <div class="top_container">
            <img src="https://f1store4.formula1.com/content/assets/__0-646492106299.305.svg" alt="F1 Logo">
            <div class="search">
                <input type="text" name="Search" placeholder="What can we help you find?">
                <button type="button">
                    <img src="https://static.vecteezy.com/system/resources/previews/004/970/046/non_2x/magnifier-search-zoom-icon-on-white-background-free-vector.jpg">
                </button>
            </div>
            <div class="logo">
                <img src="https://f1store4.formula1.com/content/assets/__0-646492106299.305.svg" alt="logo">
            </div>
        </div>
    </div>
    <div class="menu_categori">
        {% for category in categories %}
        <button class="category-button">{{ category }}</button>
        {% endfor %}
        <button class="category-button" onclick="location.href='/products'">PRODUCTOS</button>
    </div>
    <div class="title_1">REGISTER AND SAVE 10%</div>
    <div class="title_2">{{ category_title }}</div>
</body>
</html>
