<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style_home.css" />
  </head>
  <body>
    <div class="start header">
      <div class="top_container">
        <img
          src="https://f1store4.formula1.com/content/assets/__0-646492106299.305.svg"
          alt="F1 Logo"
        />
        <div class="search">s
          <input
            type="text"
            name="Search"
            placeholder="What can we help you find?"
          />
          <button type="button">
            <img
              src="https://static.vecteezy.com/system/resources/previews/004/970/046/non_2x/magnifier-search-zoom-icon-on-white-background-free-vector.jpg"
            />
          </button>
        </div>
        <div class="logo">
          <img
            src="https://f1store4.formula1.com/content/assets/__0-646492106299.305.svg"
            alt="logo"
          />
        </div>
      </div>
    </div>

    <div class="menu_categori">
      <select name="buy for equipment" id="buy for equipment">
        <option  class="text" value="1">BUY BY EQUIPEMENT</option>
      </select>
      <select name="buy by pilot" id="buy by pilot">
        <option  class="text" value="2">BUY BY PILOT</option>
      </select>
      <select name="man" id="man">
        <option  class="text" value="3">MAN</option>
      </select>
      <select name="women" id="women">
        <option  class="text" value="4">WOMEN</option>
      </select>
      <select name="children" id="children">
        <option  class="text" value="5">CHILDREN</option>
      </select>
      <select name="caps and hats" id="caps and hats">
        <option  class="text" value="6">CAPS AND HATS</option>
      </select>
      <select name="gifts and accessories" id="gifts and accessories">
        <option  class="text" value="7">GIFTS AND ACCESSORIES</option>
      </select>
      <select name="collectibles" id="collectibles">
        <option  class="text" value="8">COLLECTIBLES</option>
      </select>
      <select name="sales" id="sales">
        <option  class="text" value="9">SALES</option>
      </select>
  
  </div>
    
    <div class="title_1">REGISTER AND SAVE 10%</div>
    <div class="title_2">COMPARE BY TEAM</div>


    <div class="logos_central">
      <img
        src="https://f1store4.formula1.com/content/ws/all/b2689dc2-c243-471a-8442-8b3695c1348d.svg"
        alt="1"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/7699db10-0dff-47ff-ba47-ff92078a02fd.svg"
        alt="2"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/239e8493-e331-4a9f-a8ac-262d1c743e29.svg"
        alt="3"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/8a248b00-993b-4a19-8259-5b583b68c4b6.svg"
        alt="4"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/c98ef232-bdec-463e-950b-8c8fefbd8c92.svg"
        alt="5"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/7745125c-6dbd-4686-b755-5243e824923a.svg"
        alt="6"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/5bfedd91-c84a-48a3-85d4-7c3da87cc72a.svg"
        alt="7"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/495dd091-0c79-4531-b2e8-5c29434e73e7.svg"
        alt="8"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/09603429-b880-4031-89ac-ead75cbe107d.svg"
        alt="9"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/8aa08fe2-ec23-478e-8f2d-285a811c5079.svg"
        alt="10"
      />
      <img
        src="https://f1store4.formula1.com/content/ws/all/1fb492a9-7e56-4dca-9fa8-878548679887.svg"
        alt="11"
      />
    </div>

    <div class="container">
        <div class="logo_buy">
            <img
              src="https://f1store4.formula1.com/content/ws/740849/DT_A_Spot_es.png"
              alt="logo_compra"
            />
          </div>
          <div class="title_3">Lastes Collection</div>
          <div class="logo_1">
            <img
              src="https://f1store4.formula1.com/content/ws/728431/DT_B_Spot_Left_Ferrari_SPA.png"
              alt="logo_1"
            />
          </div>
          <div class="logo_2">
            <img
              src="https://f1store4.formula1.com/content/ws/707607/DT_B_Spot_Right_McLaren_SPA.png"
              alt="logo_2"
            />
          </div>
          <div class="logo_3">
            <img
              src="https://f1store4.formula1.com/content/ws/all/30cb93a2-5b93-4b21-bab8-7ecc74b6f184__1600X770.gif"
              alt="logo_3"
            />
          </div>
          <div class="log_4">
            <img
              src="https://f1store4.formula1.com/content/ws/all/616b4495-498f-43e6-bf54-f4ed35d8db54__1600X370.png"
              alt="logo_4"
            />
          </div>
          <div class="logo_5">
            <img
              src="https://f1store4.formula1.com/content/ws/620180/DT_B_Spot_Left_Williams_ES.png"
              alt="logo_5"
            />
          </div>
          <div class="logo_6">
            <img
              src="https://f1store4.formula1.com/content/ws/620180/DT_B_Spot_Right_Alpine_ES.png"
              alt="logo_6s"
            />
          </div>
    </div>
    
  </body>
</html>
