<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/2048px-F1.svg.png" alt="F1 Logo">
        <h1>Bienvenido a nuestra tienda</h1>
    </div>

    <div class="login-container">
        <h2>¿Qué deseas hacer?</h2>
        <a href="/login">
            <button class="continue" type="button">Iniciar Sesión</button>
        </a>
        <a href="/register">
            <button class="register" type="button">Registrarse</button>
        </a>
    </div>
</body>
</html>
