<!-- products.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style_products.css">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <form method="GET" action="{{ url_for('product_bp.search_products') }}">
        <input type="text" name="search_term" placeholder="Buscar productos...">
        <select name="categoria_id">
            <option value="">Todas las Categorías</option>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </form>
    
    <ul>
    {% for product in products %}
        <li>
            <a href="{{ url_for('product_bp.product_detail', product_id=product.id) }}">
                {{ product.nombre }} - ${{ product.precio }}
            </a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
