
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 40px;
    margin-right: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

.container {
    background-color: white;
    padding: 0; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px; 
    text-align: center;
    margin-top: 100px;
}



body {
    font-family: Arial, sans-serif;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    border: 2px solid #d71920; 
    text-align: center;
}


.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button.continue {
    width: 100%;
    padding: 10px;
    background-color: #d71920; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.continue:hover {
    background-color: #b0151b;
}
