*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  max-width: 100%;
  width: 70%; 
  box-sizing: border-box; 
}

/* Contenedor superior */
.top_container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: black; 
}

.top_container img {
  max-width: 100px; 
  height: auto;
}


.search {
  display: flex;
  flex: 1; 
  justify-content: center;
  align-items: center;
  max-width: 100%; 
}

.search input {
  padding: 14px;
  border-radius: 5px 0 0 5px; 
  border: 1px solid #ccc;
  border-right: none;
  width: 75%; 
  background-color: white; 
  color: black;
}

.search button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  border-left: none; 
  cursor: pointer;
  padding: 10px;
}

.search button img {
  max-width: 20px;
  height: auto;
}


.menu_categori {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%; 
  gap: 0;
  margin-bottom: 20px; 
}

.menu_categori select {
  flex: 1;
  min-width: 100px;
  max-width: calc(100% / 3); 
  border: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 0;
  appearance: none;
  transition: background-color 0.3s ease;
  font-size: 10px;
}

/* Títulos */
.title_1, .title_2, .title_3 {
  width: 100%; 
  padding: 20px;  
  text-align: center;
}

.title_1 {
  background-color: red;
  color: white;
}

.title_2 {
  background-color: white;
  font-weight: bold;
}

.title_3 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}


.logos_central {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 10px; 
}

.logos_central img {
  max-width: 50px;
  height: 100px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px; 
  padding: 20px; 
}

.logo_buy img,
.logo_1 img,
.logo_2 img,
.logo_3 img,
.log_4 img,
.logo_5 img,
.logo_6 img {
  display: flex;
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .top_container {
    flex-direction: column; 
  }

  .menu_categori select {
    font-size: 12px; 
  }

  .title_3 {
    font-size: 1.5rem; 
  }

  .search input, .search button {
    width: 100%; 
  }
}
